<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<title th:text="${title}">Default Title</title>
</head>

<body>
	<h2 th:text="${title}">Default Title</h2>

	<div layout:fragment="content">
		<h2>Please enter claim information</h2>
		<form class="row g-3 w-50" action="#" th:action="@{/claims}" th:object="${claimModel}" method="post">
			<div class="col-md-3 input-group">

				<div class="form-floating">
					<input type="text" th:field="*{claimId}" class="form-control " id="floatingInputClaimID"
						placeholder="Claim ID">
					<label for="floatingInputClaimID">Claim ID</label>
					<div style="color: red;" th:if="${#fields.hasErrors('claimId')}" th:errors="*{claimId}">
						Claim ID Error
					</div>
				</div>

			</div>
			<div class="col-md-3 input-group">

				<div class="form-floating">
					<input type="text" th:field="*{patientName}" class="form-control" id="floatingInputPatientName"
						placeholder="Patient Name">
					<label for="floatingInputPatientName">Patient Name</label>
					<div style="color: red;" th:if="${#fields.hasErrors('patientName')}" th:errors="*{patientName}">
						Patient Name Error
					</div>
				</div>

			</div>
			<div class="col-md-3 input-group">

				<div class="form-floating">
					<input type="text" th:field="*{diagnosis}" class="form-control" id="floatingInputDiagnosis"
						placeholder="Diagnosis">
					<label for="floatingInputDiagnosis">Diagnosis</label>
					<div style="color: red;" th:if="${#fields.hasErrors('diagnosis')}" th:errors="*{diagnosis}">
						Diagnosis Error
					</div>
				</div>

			</div>
			<div class="col-md-3 input-group">

				<div class="form-floating">
					<input type="date" th:field="*{claimDate}" class="form-control" id="floatingInputClaimDate"
						placeholder="Claim Date">
					<label for="floatingInputClaimDate">Claim Date</label>
					<div style="color: red;" th:if="${#fields.hasErrors('claimDate')}" th:errors="*{claimDate}">
						Claim Date Error
					</div>
				</div>

			</div>
			<div class="col-md-3 input-group">
				<span class="input-group-text">$</span>
				<div class="form-floating">
					<input type="text" th:field="*{claimAmount}" class="form-control" id="floatingInputClaimAmount"
						placeholder="Claim Amount">
					<label for="floatingInputClaimAmount">Claim Amount</label>
					<div style="color: red;" th:if="${#fields.hasErrors('claimAmount')}" th:errors="*{claimAmount}">
						Claim Amount Error
					</div>
				</div>

			</div>
			<div class="col-md-12">
				<button class="btn btn-primary w-100" type="submit">Create Claim</button>
			</div>
			
			<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
				<div th:each="err : ${#fields.errors('*')}">
					<span style="color:red" th:text="${err}" class="fieldError"></span>
				</div>
		</form>


	</div>
</body>

</html>